<app-navbar-societe></app-navbar-societe>
<div class="flex flex-wrap justify-center gap-2">
  <app-card-statistique [title] = "title1" [statistique] = "statistique1" [color]="color1" [imgSrc] = "image1"></app-card-statistique>
  <app-card-statistique [title] = "title2" [statistique] = "statistique2" [color]="color2" [imgSrc] = "image2"></app-card-statistique>
  <app-card-statistique [title] = "title3" [statistique] = "statistique3" [color]="color3" [imgSrc] = "image3"></app-card-statistique>
  <app-card-statistique [title] = "title4" [statistique] = "statistique4" [color]="color4" [imgSrc] = "image4"></app-card-statistique>
  <app-card-statistique [title] = "title5" [statistique] = "statistique5" [color]="color5" [imgSrc] = "image5"></app-card-statistique>
  <app-card-statistique [title] = "title6" [statistique] = "statistique6" [color]="color6" [imgSrc] = "image6"></app-card-statistique>
</div>
