<app-navbar-agent></app-navbar-agent>
<div class="flex flex-wrap justify-center gap-2">
  <app-card-statistique [title] = "title1" [statistique] = "statistique1" [color]="color1" [imgSrc] = "image1"></app-card-statistique>
  <app-card-statistique [title] = "title2" [statistique] = "statistique2" [color]="color2" [imgSrc] = "image2"></app-card-statistique>
  <app-card-statistique [title] = "title3" [statistique] = "statistique3" [color]="color3" [imgSrc] = "image3"></app-card-statistique>
</div>
