<!-- component -->
<div style="width: 281px;height: 180px;" class="flex flex-row m-auto bg-gradient-to-r from-{{ color }}-700 via-{{ color }}-800 to-{{ color }}-900 p-6 gap-8 rounded-lg border-2 border-{{ color }}-500">
  <div class="my-auto">
    <div class="text-lg text-{{ color }}-300">{{ title }}</div>
    <div class="text-4xl text-{{ color }}-100">{{ statistique }}</div>
  </div>
  <div class="text-{{ color }}-300 my-auto bg-gradient-to-l from-{{ color }}-700 via-{{ color }}-800 to-{{ color }}-900 rounded-full p-4">
    <img style="max-width: 60px !important;" src="{{ imgSrc }}">
  </div>
</div>
